<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.news_portal.mapper.AdsTagMapper">

    <resultMap id="BaseResultMap" type="com.github.news_portal.domain.AdsTag">
            <id property="adsTagId" column="ads_tag_id" jdbcType="BIGINT"/>
            <result property="adsId" column="ads_id" jdbcType="BIGINT"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ads_tag_id,ads_id,tag_id
    </sql>
</mapper>
